.wrapper_count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid rgb(55, 133, 243);
    width: 300px;
    padding: 1rem;
    border-radius: 30px;
}


.button {
    margin-top: .6rem;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 12px;
    color: white;
    border: 1px solid #fcd6f4;
    background: -webkit-linear-gradient(90deg, #322de5, #00a8ec);
    background: linear-gradient(90deg, #322de5, #00a8ec);
    margin-left: .5rem;
}

.button_disable {
    margin-top: .6rem;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 12px;
    color: rgb(255, 0, 0);
    border: 1px solid #fcd6f4;
}


.counter_max {
    color: red;
}

.grid{
    display: flex;
    justify-content: space-around;
}